<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DLease - Register</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="signup.css" />
</head>
<body>
  <nav class="navbar">
        <div class="logo">
            <img src="/FINAL-DAPP-main/Dapp Homework/Components/images/logo.png" alt="DLease Logo" class="LogoImage"/>
        </div>
        <ul class="nav-links">
        <li><a href="/FINAL-DAPP-main/Dapp Homework/Components/Homepage/homepage.html">Home</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="/FINAL-DAPP-main/Dapp Homework/Components/Login/login.html">Login</a></li>
        </ul>
        <div class="user-icon">
            <a href="/FINAL-DAPP-main/Dapp Homework/Components/Publish/publish.html">
                <i class="fa-solid fa-circle-user"></i>
            </a>
        </div>
   </nav> 

  <main class="register-container">
    <section class="promo">
      <img src="/FINAL-DAPP-main/Dapp Homework/Components/images/nft_logo.png" alt="NFT icon">
      <p>Want to collect travel experiences?<br/>DLease helps you unlock it!</p>
    </section>

    <section class="register-box">
      <h2>Register an Account</h2>

      <button class="btn social-btn fb">
        <img src="/FINAL-DAPP-main/Dapp Homework/Components/images/facebooklogo.png" alt="Facebook Logo" class="facebook-icon">
        <span class="social-text">Login Using Facebook</span>
      </button>
      <button class="btn social-btn google">
        <img src="/FINAL-DAPP-main/Dapp Homework/Components/images/googlelogo.png" alt="Facebook Logo" class="google-icon">
        <span class="social-text">Login Using Google</span>
      </button>

      <div class="divider">
        <hr>
        <span>or</span>
        <hr>
      </div>

      <form>
        <label>Name :</label>
        <input type="text" placeholder="Name" required />

        <label>Email :</label>
        <input type="email" placeholder="Email" required />

        <label>Password :</label>
        <input type="password" placeholder="Password" required />
        <small>Show password</small>

        <button type="submit" class="btn primary-btn"><a href="" class="sign-in">Sign in/Login</a></button>
        <p class="terms">By registering/logging in, you agree to abide by the <a href="#">Terms of Use</a></p>
      </form>
    </section>
  </main>
</body>
</html>
