<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>智能減碳錢包 - 登入</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="{{ url_for('static', filename='image/logo_carbon_wallet.png') }}" alt="wallet" width="60" />
      <h1>智能減碳錢包</h1>
    </div>
    <input type="email" placeholder="電子郵件" />
    <input type="password" placeholder="密碼" />
    <div>
      <button class="button login">登入</button>
      <button class="button register">註冊</button>
    </div>
    <a class="forgot">忘記密碼？</a>
  </div>
  <script src="{{ url_for('static', filename='script/login.js') }}"></script>
</body>
</html>
