<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dlease 關於我們</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/About_Us.css') }}">
    <title>Document</title>
</head>
<body>
  <header>
    <div class="navbar">
      <a class="logo" href="/homepage">
        <img src="static/image/logo.png" alt="logo">
      </a>
      <nav>
        <ul>
          <li><a href="/homepage">Home</a></li>
          <li><a href="/my_rentals">我的租賃記錄</a></li>
          <li><a href="/About_Us">About Us</a></li>
          <li><a href="/post_object">幫我出租</a></li>
          <li><a href="/login">登出</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <h1>楊同學你好！</h1>
</body>
</html>