<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DLease - Home</title>
    <link rel="stylesheet" href="homepagelogin.css" />
    <!--Linking SwiperJS CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/Components/images/logo.png" alt="DLease Logo" class="LogoImage"/>
        </div>
        <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">About</a></li>
        </ul>
        <div class="user-icon">
            <a href="/Components/Publish/publish.html">
                <i class="fa-solid fa-circle-user"></i>
            </a>
        </div>
   </nav> 
    <br>
    
    
    <main class="main-content">
        <div class="search-container">
            <input type="text" placeholder="Search" class="search-box" id="searchInput" />
            <button class="search-button" onclick="filterCards()">➜</button>
            </input>
        </div>

        <div class="container swiper">
            <div class="card-wrapper">
                <ul class="card-list swiper-wrapper">
                    <li class="card-item swiper-slide">
                        <div class="cardscroll">
                            <a href="/Components/Details/barnstay.html" class="card-link">
                                <img src="/Components/images/hotel1.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Barn Stay</h2>
                                <p>2F Suite<br />Yuanshan Township, Taiwan</p>
                            </a>
                            <a href="/Components/Details/zengincafe.html" class="card-link">
                                <img src="/Components/images/hotel2.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Zengin Cafe</h2>
                                <p>Luxury Large Window Double Room<br />Alishan Township, Taiwan</p>
                            </a>
                            <a href="/Components/Details/grandhotel.html" class="card-link">
                                <img src="/Components/images/hotel3.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Grand Hotel</h2>
                                <p>Horizon Room<br />Taipei City, Taiwan</p>
                            </a>
                        </div>
                        
                    </li>
                    <li class="card-item swiper-slide">
                        <div class="cardscroll">
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel4.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Sky Haven Hotel</h2>
                                <p>Panoramic city views<br />Yuanshan Township, Taiwan</p>
                            </a>
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel5.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Moonlit Serenity Inn</h2>
                                <p>Modern inn<br />Alishan Township, Taiwan</p>
                            </a>
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel6.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Horizon Luxe Suites</h2>
                                <p>Luxurious suite design<br />Taipei City, Taiwan</p>
                            </a>
                        </div>
                    </li>
                    <li class="card-item swiper-slide">
                        <div class="cardscroll">
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel7.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Golden Pine Retreat</h2>
                                <p>A stylish wooden accents<br />Yuanshan Township, Taiwan</p>
                            </a>
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel8.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Twilight Oasis Hotel</h2>
                                <p>Elegant hotel room<br />Alishan Township, Taiwan</p>
                            </a>
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel9.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Crystal Heights Lodge</h2>
                                <p>A sophisticated lodge<br />Taipei City, Taiwan</p>
                            </a>
                        </div>
                    </li>
                    <li class="card-item swiper-slide">
                        <div class="cardscroll">
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel10.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Emerald Escape Inn</h2>
                                <p>A chic inn<br />Yuanshan Township, Taiwan</p>
                            </a>
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel11.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Starlit Comfort Hotel</h2>
                                <p>A luxurious hotel with elegant decor<br />Alishan Township, Taiwan</p>
                            </a>
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel12.jpeg" alt="Barn Stay" class="card-image"/>
                                <h2>Ocean Whisper Suites</h2>
                                <p>A spacious suite<br />Taipei City, Taiwan</p>
                            </a>
                        </div>
                    </li>
                    <li class="card-item swiper-slide">
                        <div class="cardscroll">
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel13.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Velvet Horizon Stay</h2>
                                <p>A contemporary stay<br />Yuanshan Township, Taiwan</p>
                            </a>
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel14.jpeg" alt="Barn Stay" class="card-image"/>
                                <h2>Luminous Retreat Hotel</h2>
                                <p>Soft lighting and elegant design<br />Alishan Township, Taiwan</p>
                            </a>
                            <a href="#" class="card-link">
                                <img src="/Components/images/hotel15.jpg" alt="Barn Stay" class="card-image"/>
                                <h2>Regal Vista Inn</h2>
                                <p>Luxurious interiors and city views<br />Taipei City, Taiwan</p>
                            </a>
                        </div> 
                    </li>
                </ul>    
            </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
    </main>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="homepagelogin.js"></script>
</html>