body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0d0b14;
  color: white;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(
    to right,
    #eca2ed,
    #8f68ff,
    #487bff,
    #7e56f6,
    #f7a3f8
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.search-widget {
  text-align: center;
  padding: 40px 20px 20px;
}
.search-bar {
  max-width: 700px;
  margin: auto;
  display: flex;
  border: 1px solid #888;
  border-radius: 12px;
  overflow: hidden;
}
.search-bar input {
  flex: 1;
  padding: 14px;
  border: none;
  background-color: #1e1b2d;
  color: white;
  font-size: 16px;
}
.search-bar button {
  padding: 14px 24px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: hsl(62, 86%, 42%);

}
.room-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px 20px;
}
.room-card {
  background-color: #1e1b2d;
  border: 1px solid #aaa;
  border-radius: 12px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  padding: 10px;
}
.room-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}
.room-card strong {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}
.room-card small {
  color: #aaa;
}
.pagination-dots {
  text-align: center;
  margin-top: 20px;
}
.pagination-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #999;
  border-radius: 50%;
}
.pagination-dots .dot.active {
  background: #f36;
}